a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  a:hover {
    color: red; 
  }


  .flex-container {
    justify-content: center;
    flex-direction:row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
  }

  .flex-container img {
    max-width: 100%;
    height: auto;
    flex: 1 1 300px; /* אומר: גדל עד 100%, התחל מ־300px */
    border-radius: 10px;
  }
  h1 {
    text-align: center;
    color: black;
    font-size: 60px;
    transition: all 0.5s ease;
  }